@import "tailwindcss";

a {
  font-family: "Castoro", sans-serif;
}

p {
  font-family: "Castoro", sans-serif;
}

h3,
h4,
h5,
h6 {
  font-family: "Castoro", sans-serif;
}

h1,
h2 {
  font-family: "Monoton", sans-serif;
}