@import "tailwindcss";

@theme {
  --font-display: Castoro, sans-serif;
  --font-title: Monoton, sans-serif;

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-content: var(--color-content);
  --color-accent: var(--color-accent);
  --color-neutral: var(--color-neutral);
  --color-title: var(--color-title);
  --color-border: var(--color-border);
  --color-card-background: var(--color-card-background);
}
